@use "../abstracts/variables" as *;

// ========================
// Core Resets
// ========================
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font: inherit;
}

// ========================
// HTML and Body Resets
// ========================
html,
body {
  height: 100%;
  -webkit-scroll-behavior: smooth;
  scroll-behavior: smooth;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  font-size: var(--fs-base);
  background-color: var(--clr-bg-base);
  overflow-x: hidden;
}

section[id] {
  scroll-margin-top: calc(#{$navbar-height} + 1rem);
}

// ========================
// List Styles Reset
// ========================
ul[role="list"],
ol[role="list"] {
  list-style: none;
  padding-left: 0;
}

// ========================
// Image Styles Reset
// ========================
img,
picture {
  max-width: 100%;
  display: block;
}

// ========================
// Link Styles Reset
// ========================
a,
a:visited,
a:active {
  text-decoration: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
  color: currentColor;
}

// ========================
// Element Margin Reset
// ========================
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

@media (max-width: $breakpoint-nav) {
  section[id] {
    scroll-margin-top: calc(#{$navbar-height-mobile} + 0.75rem);
  }
}

@media (prefers-reduced-motion: reduce) {
  html,
  body {
    scroll-behavior: auto;
  }
}
