@use "../abstracts/variables" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font: inherit;
}

html,
body {
  min-height: 100%;
  -webkit-scroll-behavior: smooth;
  scroll-behavior: smooth;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  min-width: 320px;
  font-size: var(--fs-base);
  color: #31382a;
  background: #d9ccb8;
  overflow-x: hidden;
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
  padding-left: 0;
}

img,
picture {
  max-width: 100%;
  display: block;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
  color: currentColor;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

section[id],
footer[id] {
  scroll-margin-top: 1rem;
}

::selection {
  color: #eee4cf;
  background: #3e4937;
}

@media (prefers-reduced-motion: reduce) {
  html,
  body {
    scroll-behavior: auto;
  }
}
