// Hero.module.scss
@use "./../../styles/abstracts/variables" as *;
@use "./../../styles/abstracts/functions" as *;

$ff-heading: 'Spectral', sans-serif;
$fs-heading: font-size('heading', 'h5'); // 48px
$fw-heading: font-weight('bold');
$clr-heading: color('hero', 'heading');

$ff-subheading: 'Spectral', sans-serif;
$fs-subheading: font-size('heading', 'h6'); // 24px
$fw-subheading: font-weight('bold');
$clr-subheading: color('hero', 'heading');

$ff-description: 'Spectral', sans-serif;
$fs-description: font-size('body', 'small'); // 18px
$fw-description: font-weight('medium');
$clr-description: color('hero', 'text');

$ff-ctaText: 'Spectral', sans-serif;
$fs-ctaText: font-size('body', 'xsmall'); // 16px
$fw-ctaText: font-weight('semibold');
$clr-ctaText: color('hero', 'text');

.hero {
   position: relative;  // Needed for absolute positioning of the shapes
   height: calc(100dvh - (5.625rem + 1.875rem));
   display: flex;
   justify-content: center;
   align-items: center;
   // overflow: hidden;  // Prevent overflow of shapes if they extend outside the section

   // Layer 1 (bottom layer)
   &__layer1, &__layer2, &__layer3 {
      position: absolute;
      width: 100%;
      height: 100%;
   }

   &__layer1 {
      background-color: #6d7c5f;
      clip-path: polygon(0 60%, 100% 60%, 100% 100%, 0 100%);
      top: 0;
      z-index: 0;
   }

   &__layer2 {
      background-color: #faf9f8;
      clip-path: polygon(1.5% 47%, 98.5% 47%, 98.5% 75%, 1.5% 75%);
      top: 0;
      z-index: 1;
   }

   &__layer3 {
      background-image: url('./../../images/green.svg');
      background-size: cover;
      background-position: center;
      clip-path: polygon(2.5% 1%, 97.5% 1%, 97.5% 73%, 2.5% 73%);
      top: 0;
      z-index: 2;
   }

   &__wrapper {
      max-width: 1078px;
      width: 100%;
      height: 100%;
      margin: 0 auto;

      display: flex;
      justify-content: center;
      align-items: center;

      position: relative;  // Ensure that the wrapper sits on top of the layers
      z-index: 3;
   }

   &__content {
      max-width: 688px;
      height: 700px;
      padding-inline: 3rem;
      margin-inline: 2rem;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      background-color: rgba(255, 255, 255, 0.8); 
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(5px);
      border: 1px solid #414743;

      position: absolute;
      bottom: 2%;
   }

   &__greeting {
      height: 80px;
      width: auto;
      margin-bottom: 1rem;
   }

   &__heading {
      font-family: $ff-heading;
      font-size: $fs-heading;
      font-weight: $fw-heading;
      color: $clr-heading;
      text-align: center;
      margin-bottom: 0.5rem;
   }

   &__subheading {
      font-family: $ff-subheading;
      font-size: $fs-subheading;
      font-weight: $fw-subheading;
      color: $clr-subheading;
      text-align: center;
      margin-top: 1.5rem;
   }

   &__description {
      font-family: $ff-description;
      font-size: $fs-description;
      font-weight: $fw-description;
      color: $clr-description;
      text-align: center;
   }

   &__ctaText {
      font-family: $ff-ctaText;
      font-size: $fs-ctaText;
      font-weight: $fw-ctaText;
      color: $clr-ctaText;
      text-align: center;
      margin-bottom: 1.5rem;
   }
}
