// Slogan.module.scss
@use './../../styles/abstracts/variables' as *;
@use './../../styles/abstracts/functions' as *;

$ff-slogan: 'Times New Roman', Times, serif;
$fs-slogan: font-size('body', 'xsmall'); // 12px
$fw-slogan: font-weight('medium');
$clr-slogan: color('slogan', 'text');

.slogan {
   height: 1.875rem;
   background-color: var(--clr-bg-primary);
   &__wrapper {
      max-width: 1078px;
      width: 100%;
      height: 100%;
      margin: 0 auto;

      display: flex;
      justify-content: center;
      align-items: center;
   }
   &__text {
      font-family: $ff-slogan;
      font-size: $fs-slogan;
      font-weight: $fw-slogan;
      letter-spacing: 1.28px;
      color: $clr-slogan;
   }
}