// Slogan.module.scss
@use './../../styles/abstracts/variables' as *;
@use './../../styles/abstracts/functions' as *;

$ff-slogan: 'Kollektif', sans-serif; // Heading font
$fs-slogan: font-size('body', 'xsmall'); // 12px
$fw-slogan: font-weight('medium');

.slogan {
   height: 30px;
   background-color: var(--clr-bg-primary);
   &__wrapper {
      max-width: 1078px;
      width: 100%;
      height: 100%;
      margin: 0 auto;

      display: flex;
      justify-content: center;
      align-items: center;
   }
   &__text {
      font-family: $ff-slogan;
      font-size: $fs-slogan;
      font-weight: $fw-slogan;
   }
}