// _navbar.scss

.navbar {
   height: 5.625rem; // 90px
   background-color: var(--clr-bg-navbar);
   &__wrapper {
      max-width: 1078px;
      width: 100%;
      height: 100%;
      margin: 0 auto;

      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   &__brand {
      img {
         height: 5rem;
         width: auto;
      }
   }
   &__list {
      display: flex;
      gap: var(--ss-gap-navlist); 
   }
   &__item {
      a {
         font-family: var(--ff-nav-items);
         font-size: var(--fs-nav-items); 
         font-weight: var(--fw-nav-items);
         color: var(--clr-text-navlist);

         &:hover {
            color: var(--clr-hover-navlist); // Change color on hover
         }
      }
   }
}
